/Lession5LopTruuTuong/build/
/Lession5LopTruuTuong/dist/
/Practice/Swing/nbproject/private/
/Practice/Swing/build/
/Practice/Swing/dist/
/Practice/InterfaceAndPackage/nbproject/private/
/Lession6InterfaceAndPackage/dist/
/FinalLab/JavaApplication5/nbproject/private/
/FinalLab/StudentInfomation/nbproject/private/
/FinalLab/StudentInfomation/build/
/FinalLab/StudentInfomation/dist/